name: First Workflow


on: 
  push: 
    branches: 
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print a welcom message 
        run: echo "Welcom to our first Github Actions Workflow"
